<ion-view view-title="个人中心" hide-nav-bar="true" style="background: url(../img/register_bg.jpg)no-repeat;background-size: 100% 100%;">
	<div class="bar bar-header">
		<a class="button button-dark button-clear">
			<i class="icon icon-left ion-android-arrow-dropleft"></i>
			返回
		</a>
		<h2 class="title">注册</h2>
	</div>
<style type="text/css">
.bg{opacity: .5;}
</style>
  <ion-content class="padding has-header" style="margin-top: 1rem;">
  	<div style="text-align: center;">
  		<h2 style="margin-bottom: 1rem;color: white;">注册</h2>
  	</div>
  	<ion-list class="list">
  		<label class="item item-input bg">
  			<input type="text" placeholder="用户名" />
  		</label>
  		<label class="item item-input bg">
  			<input type="text" placeholder="邮箱" />
  		</label>
  		<label class="item item-input bg">
  			<input type="text" placeholder="手机号" />
  		</label>
  		<label class="item item-input bg">
  			<input type="text" placeholder="密码" />
  		</label>
  		<label class="item item-input bg">
  			<input type="text" placeholder="请再次输入密码" />
  		</label>
  		<button class="button button-full button-positive">完成</button>
  	</ion-list>
 
  </ion-content>
</ion-view>
