<ion-view view-title="个人中心" hide-nav-bar="true" style="background: url(../img/timg.jpg)no-repeat;background-size: 100% 100%;">
  <style>
  	*{border: 0;padding: 0;margin: 0;font-family: "宋体";}
  	.button-energized{width: 80px;height: 80px; border-radius: 50%;margin-top: 70%;}
  	.button-dark{width: 50px;height: 50px;border-radius: 50%;margin-left: 70%;margin-top: -20%;}
  </style>
  <ion-content class="padding" >
  	<div style="text-align: center;margin-top: 10%;">
  		<a class="button button-energized">
  			<span style="font-size: 1.3em;">登录</span>
  			<span style="font-size: 1.3em;">MONO</span>
  		</a>
  	</div>
  	<a class="button button-dark">
  		<i class="icon ion-gear-a"></i>
  	</a>
  	<div style="width: 250px;height: 200px;text-align: center;color: #fff;margin-top: 10%;margin-left: 10%;">
  		<span>这个世纪疯狂，没人性，腐败。您却一</span><br />
  		<span>直清醒，温柔，一尘不染</span><br />
  		<span style="display: inline-block;margin-top: 5%;">现在就登录MONO吧</span><br />
  	</div>
  	
  </ion-content>
</ion-view>
